.ll-favorite {
    
        border: 1px solid @color-border;
        background-color: #ffffff;
        min-height: 700px;
    
        .nopadding{
            padding: 0 !important;
        }
        &__description-empty{
            text-align: center;
            margin-top: 60px;
        }
    }