.ll-history {
    
        border: 1px solid @color-border;
        background-color: #ffffff;
        min-height: 700px;
    
        &__header{
            margin: 15px 15px 30px 15px;
            padding: 15px;
            border-bottom: 1px solid @color-border;
        }
        &__description-empty{
            text-align: center;
        }
    }