.ll-personal-data {

    &__about{
        border: 1px solid @color-border;
        margin-bottom: 10px;
    }

    &__about-header {
        padding: 15px;
        background-color: #f9f9f9;
        border-bottom: 1px solid @color-border
    }
    &__about-description{
        padding: 15px;
        background-color: white;
    }

    &__lang{
        border: 1px solid @color-border

    }
    &__lang-header{
        padding: 15px;
        background-color: #f9f9f9;
        border-bottom: 1px solid @color-border
    }
    &__lang-description{
        padding: 15px;
        background-color: white;
        border-bottom: 1px solid @color-border
    }
    &__lang-relation{
        padding: 15px;
        background-color: #f9f9f9;
        border-bottom: 1px solid @color-border
    }
    &__lang-update{
        padding: 15px;
        background-color: white;
    }
}