.ll-point {
    
    border: 1px solid @color-border;
    background-color: #ffffff;
    min-height: 700px;

    .nopadding{
        padding: 0 !important;
    }
    &__description-header{
        border-top: 1px solid @color-border;
        margin: 20px;
        padding: 15px;
        background-color: #f9f9f9;
        border-bottom: 1px solid @color-border;
    }
    &__description-buy{
        margin: 0px 20px 0px 20px;
    }
    #total_point{
        font-size: 2em;
        font-weight: bold;
    }
    #point_info{
        margin: 10px 0px 10px 0px;
        background-color: #f9f9f9;
        padding: 15px;
        color: #999;
    }
    &__description-detail_1{
        margin: 0px 20px 0px 20px;
        border-top: 1px solid @color-border;
        border-bottom: 1px solid @color-border;
        padding: 15px;
    }
    &__description-detail_2{
        margin: 0px 20px 0px 20px;
        border-bottom: 1px solid @color-border;
        padding: 15px;
    }
    &__description-coupon--header{
        border-top: 1px solid @color-border;
        margin: 20px 20px 0px 20px;
        padding: 15px;
        background-color: #f9f9f9;
        border-bottom: 1px solid @color-border
    }
    &__description-coupon{
        margin: 0px 20px 0px 20px;
        border-bottom: 1px solid @color-border;
        padding: 20px;
    }
    &__billing-empty{
        margin: 30px;
        text-align: center;
    }
}