.ll-statistic {

    border: 1px solid @color-border;
    background-color: #ffffff;

    .nopadding{
        padding: 0 !important;
    }
    &__crowd{
        margin: 30px 15px 30px 15px;
        padding: 15px;
        background-color: #f9f9f9;
        border-bottom: 1px solid @color-border;
        border-top: 1px solid @color-border;
    }
}