.ll-settings {
    
        &__general{
            border: 1px solid @color-border;
            margin-bottom: 10px;
        }
    
        &__general--header {
            padding: 15px;
            background-color: #f9f9f9;
            border-bottom: 1px solid @color-border
        }
        &__general--description{
            padding: 15px;
            background-color: white;
        }

        &__notification{
            border: 1px solid @color-border;
            margin-bottom: 10px;
        }
    
        &__notification--header {
            padding: 15px;
            background-color: #f9f9f9;
            border-bottom: 1px solid @color-border
        }
        &__notification--description{
            padding: 15px;
            background-color: white;
        }
        &__delAccount{
            margin-top: 20px;
            a, a:hover{
                color:red;
            }
        }
    
    }