// Futura utilities

//font-weight
.fwb {
    font-weight: bold;
  }
  .fwsb {
    font-weight: 600;
  }
  // Width
  .u-w {
    &--90 { width: 90%; }
    &--380 {width: 380px;}
  }
  //Height
  .u-h {
    &--330 {width: 330px;}
  }
  // Minimum Height
  .u-h-min {
    &--180 {min-height: 180px;}
  }
  // Margin top
  .u-mt {
    &--no { margin-top: 0; }
    &--5 { margin-top: 5px; }
    &--6 { margin-top: 6px; }
    &--10 { margin-top: 10px; }
    &--15 { margin-top: 15px; }
    &--17 { margin-top: 17px; }
    &--20 { margin-top: 20px; }
    &--25 { margin-top: 25px; }
    &--30 { margin-top: 30px; }
    &--35 { margin-top: 35px; }
    &--40 { margin-top: 40px; }
    &--45 { margin-top: 45px; }
    &--50 { margin-top: 50px; }
  }
  // Margin 
  .u-mtrbl {
    margin: 20px;
  }
  
  // Margin right
  .u-mr {
    &--no { margin-right: 0; }
    &--5 { margin-right: 5px; }
    &--10 { margin-right: 10px; }
    &--15 { margin-right: 15px; }
    &--20 { margin-right: 20px; }
    &--25 { margin-right: 25px; }
    &--30 { margin-right: 30px; }
    &--35 { margin-right: 35px; }
    &--40 { margin-right: 40px; }
    &--45 { margin-right: 45px; }
    &--50 { margin-right: 50px; }
  }
  
  // Margin bottom
  .u-mb {
    &--no { margin-bottom: 0; }
    &--5 { margin-bottom: 5px; }
    &--10 { margin-bottom: 10px; }
    &--15 { margin-bottom: 15px; }
    &--20 { margin-bottom: 20px; }
    &--25 { margin-bottom: 25px; }
    &--30 { margin-bottom: 30px; }
    &--35 { margin-bottom: 35px; }
    &--40 { margin-bottom: 40px; }
    &--45 { margin-bottom: 45px; }
    &--50 { margin-bottom: 50px; }
  }
  
  // Margin left
  .u-ml {
    &--no { margin-left: 0; }
    &--5 { margin-left: 5px; }
    &--10 { margin-left: 10px; }
    &--13 { margin-left: 13px; }
    &--15 { margin-left: 15px; }
    &--20 { margin-left: 20px; }
    &--25 { margin-left: 25px; }
    &--30 { margin-left: 30px; }
    &--35 { margin-left: 35px; }
    &--40 { margin-left: 40px; }
    &--45 { margin-left: 45px; }
    &--50 { margin-left: 50px; }
  }
  
  // padding top
  .u-pt {
    &--no { padding-top: 0; }
    &--5 { padding-top: 5px; }
    &--10 { padding-top: 10px; }
    &--15 { padding-top: 15px; }
    &--20 { padding-top: 20px; }
    &--25 { padding-top: 25px; }
    &--30 { padding-top: 30px; }
    &--35 { padding-top: 35px; }
    &--40 { padding-top: 40px; }
    &--45 { padding-top: 45px; }
    &--50 { padding-top: 50px; }
    &--60 { padding-top: 60px; }
  }
  
  .u-top {
    &--no { top: 0; }
  }
  
  // padding right
  .u-pr {
    &--no { padding-right: 0 !important; }
    &--5 { padding-right: 5px; }
    &--10 { padding-right: 10px; }
    &--15 { padding-right: 15px; }
    &--20 { padding-right: 20px; }
    &--25 { padding-right: 25px; }
    &--30 { padding-right: 30px; }
    &--35 { padding-right: 35px; }
    &--40 { padding-right: 40px; }
    &--45 { padding-right: 45px; }
    &--50 { padding-right: 50px; }
    &--60 { padding-right: 60px; }
  }
  
  
  // padding bottom
  .u-pb {
    &--no { padding-bottom: 0; }
    &--5 { padding-bottom: 5px; }
    &--10 { padding-bottom: 10px; }
    &--15 { padding-bottom: 15px; }
    &--20 { padding-bottom: 20px; }
    &--25 { padding-bottom: 25px; }
    &--30 { padding-bottom: 30px; }
    &--35 { padding-bottom: 35px; }
    &--40 { padding-bottom: 40px; }
    &--45 { padding-bottom: 45px; }
    &--50 { padding-bottom: 50px; }
    &--60 { padding-bottom: 60px; }
  }
  
  // padding left
  .u-pl {
    &--no { padding-left: 0; }
    &--5 { padding-left: 5px; }
    &--10 { padding-left: 10px; }
    &--15 { padding-left: 15px; }
    &--20 { padding-left: 20px; }
    &--25 { padding-left: 25px; }
    &--30 { padding-left: 30px; }
    &--35 { padding-left: 35px; }
    &--40 { padding-left: 40px; }
    &--45 { padding-left: 45px; }
    &--50 { padding-left: 50px; }
    &--60 { padding-left: 60px; }
  }
  
  
  
  .u-vh { visibility: hidden !important; }
  
  .u-iblock { display: inline-block; }
  
  // SCREEN MD
  .u-md {
    &__pt {
      @media(min-width: @screen-md-min) {
        &--no { padding-top: 0; }
        &--5 { padding-top: 5px; }
        &--10 { padding-top: 10px; }
        &--15 { padding-top: 15px; }
        &--20 { padding-top: 20px; }
        &--25 { padding-top: 25px; }
        &--30 { padding-top: 30px; }
        &--35 { padding-top: 35px; }
        &--40 { padding-top: 40px; }
        &--45 { padding-top: 45px; }
        &--50 { padding-top: 50px; }
        &--60 { padding-top: 60px; }
      }
    }
  
    &__pb {
      @media(min-width: @screen-md-min) {
        &--no { padding-bottom: 0; }
        &--5 { padding-bottom: 5px; }
        &--10 { padding-bottom: 10px; }
        &--15 { padding-bottom: 15px; }
        &--20 { padding-bottom: 20px; }
        &--25 { padding-bottom: 25px; }
        &--30 { padding-bottom: 30px; }
        &--35 { padding-bottom: 35px; }
        &--40 { padding-bottom: 40px; }
        &--45 { padding-bottom: 45px; }
        &--50 { padding-bottom: 50px; }
        &--60 { padding-bottom: 60px; }
      }
    }
  }
  // SCREEN XS
  .u-xs {
  
    &__mt {
      @media(max-width: @screen-xs-max) {
        &--no { margin-top: 0; }
        &--5 { margin-top: 5px; }
        &--10 { margin-top: 10px; }
        &--15 { margin-top: 15px; }
        &--20 { margin-top: 20px; }
        &--25 { margin-top: 25px; }
        &--30 { margin-top: 30px; }
        &--35 { margin-top: 35px; }
        &--40 { margin-top: 40px; }
        &--45 { margin-top: 45px; }
        &--50 { margin-top: 50px; }
        &--60 { margin-top: 60px; }
      }
    }
  
    &__pt {
      @media(min-width: @screen-md-min) {
        &--no { padding-top: 0; }
        &--5 { padding-top: 5px; }
        &--10 { padding-top: 10px; }
        &--15 { padding-top: 15px; }
        &--20 { padding-top: 20px; }
        &--25 { padding-top: 25px; }
        &--30 { padding-top: 30px; }
        &--35 { padding-top: 35px; }
        &--40 { padding-top: 40px; }
        &--45 { padding-top: 45px; }
        &--50 { padding-top: 50px; }
        &--60 { padding-top: 60px; }
      }
    }
  
    &__pb {
      @media(min-width: @screen-md-min) {
        &--no { padding-bottom: 0; }
        &--5 { padding-bottom: 5px; }
        &--10 { padding-bottom: 10px; }
        &--15 { padding-bottom: 15px; }
        &--20 { padding-bottom: 20px; }
        &--25 { padding-bottom: 25px; }
        &--30 { padding-bottom: 30px; }
        &--35 { padding-bottom: 35px; }
        &--40 { padding-bottom: 40px; }
        &--45 { padding-bottom: 45px; }
        &--50 { padding-bottom: 50px; }
        &--60 { padding-bottom: 60px; }
      }
    }
  }
  