// Mixin
.padding-tb(@size) {
  padding-top: @size;
  padding-bottom: @size;
}

.padding-lr(@size) {
  padding-left: @size;
  padding-right: @size;
}

.margin-tb(@size) {
  margin-top: @size;
  margin-bottom: @size;
}

.margin-lr(@size) {
  margin-left: @size;
  margin-right: @size;
}

.translateX(@x) {
  -webkit-transform: translateX(@x);
      -ms-transform: translateX(@x); // IE9 only
          transform: translateX(@x);
}
// Color
@color-white: #fff;
@color-light-grey: #c7c7c7;
@color-dark-grey: #999;
@color-black: #000;
@color-reds: #c73130;
@color-border: #dcdcdc;

//workspace
@black-20: darken(#fff, 20%); // #ccc
@black-40: darken(#fff, 40%); // #999
@brand-warning: #f5a625;

// Font
@open-sans: 'Open Sans', sans-serif;
@futura-font-1: @open-sans;

// Social media color
@color-facebook:    #3b5998;
@color-twitter:     #2ba9e1;
@color-googleplus:  #dd4b39;
@color-linkedin:    #007bb6;
@color-dribbble:    #ea4c89;
@color-instagram:   #e1306c;
@color-bootstrap: 	#6f5499;

// Section color
@color-section: fade(#ECF0F1, 30%);

// Packages color
@color-saver: fade(#5bc0de, 50%);
@color-bronze: #E0B490;
@color-silver: #b2b2b2;
@color-gold: #e8b954;

// Button
@btn-success-outline-color: @brand-success;
@btn-success-outline-bg: transparent;
@btn-success-outline-border: @brand-success;

@btn-white-outline-color: @color-white;
@btn-white-outline-bg: transparent;
@btn-white-outline-border: @color-white;

@btn-danger-outline-color: @brand-danger;
@btn-danger-outline-bg: transparent;
@btn-danger-outline-border: @brand-danger;

@btn-warning-outline-color: @brand-warning;
@btn-warning-outline-bg: transparent;
@btn-warning-outline-border: @brand-warning;

@btn-info-outline-color: @brand-info;
@btn-info-outline-bg: transparent;
@btn-info-outline-border: @brand-info;

@btn-primary-outline-color: @brand-primary;
@btn-primary-outline-bg: transparent;
@btn-primary-outline-border: @brand-primary;

