// Please if you added something write with comment

// Login style for use in:
// views/members/profile/show
// views/members/profile/show_contest_holder
// views/members/profile/show_designer
// views/members/profile/portfolios

// For all profile__badge class
[class*="profile__badge"] {
  padding: 10px;
  vertical-align: middle;
  display: inline-block;
}

// show profile
.ll-profile {
  .padding-tb(50px);

  // Avatar
  &__avatar {
    margin: auto;
    border: 2px solid @color-border;
  }

  // Username
  &__name {
    .margin-tb(0);
    font-size: 26px;
    line-height: 3rem;
    display: inline-block;
    vertical-align: middle;

    @media (max-width: @screen-sm-max) {
      display: block;
      margin-bottom: 20px;
    }
  }

  // Wrapper
  &__wrapper {
    @media (max-width: @screen-sm-max) {
      text-align: center;
      margin-top: 20px;
    }
  }

  // Badge status
  &__badge {
    color: @color-reds;
    border: 2px solid @color-reds;
    border-radius: 5px;
    font-size: 16px;
    font-style: italic;
    margin-left: 10px;
  }

  //link recap
  &__recap {
    padding: 10px;
    vertical-align: middle;
    display: inline-block;
    a:hover{
      text-decoration: none;
    }

    @media (max-width: @screen-sm-min) {
      display: block;
    }

  }

  // Bio
  &__shortbio {
    .margin-tb(20px);
    font-size: 15px;
    line-height: 3rem;
    color: fade(@color-black, 80%);
  }

  // Skill
  &__skill { margin-bottom: 20px; }

  // Statistic
  &__statistic {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
  }

  // Border if class profile__statistic meet profile__statistic
  .ll-profile__statistic + .ll-profile__statistic {
    @media (min-width: @screen-sm-min) {
      border-left: 2px solid @color-border;
    }

    @media (max-width: @screen-sm-min) {
      &:nth-child(2n) {
        border-left: 2px solid @color-border;
      }
    }
  }

  // Button setting
  &__btn-setting {
    @media (max-width: @screen-sm-max) { margin-top: 40px; }
  }

  // Value info
  &__value-info {
    font-style: italic;
    margin-bottom: 0;
    color: fade(@color-black, 80%);
  }
}

.ll-profile-designer {
  &__cover {
    img {
      height: 300px;
      width: 100%;
      object-fit: cover;
    }
  }

  &__name {
    .margin-tb(0);
    font-size: 26px;
    line-height: 3rem;
    display: inline-block;
    vertical-align: middle;

    @media (max-width: @screen-sm-max) {
      display: block;
      margin-bottom: 20px;
    }

    @media (max-width: @screen-xs-min) {
      display: block;
      margin-bottom: 20px;
      margin-top: 30%;
    }

    @media (min-width: 667px) and (max-width: 767px) {
      display: block;
      margin-bottom: 20px;
      margin-top: 15%;
    }
  }

  &__header {
    .padding-tb(20px);

    .avatar{
      position:relative;
      overflow:hidden;
      padding-bottom:20px;
      margin-top: -60%;
      background-color: white;

      img {
        border: 2px solid @color-border;
        object-fit: cover;
      }

      @media (min-width: 667px) and (max-width: 767px) {
        margin-top: -40%;
      }
      @media (min-width: 768px) and (max-width: 1023px) {
        margin-top: -35%;
      }

      @media(max-width: @screen-xs-min) {
        margin-top: -75%;
      }
    }

    @media (max-width: @screen-sm-max) {
      text-align: center;
      margin-top: 20px;
    }
  }

  &__statistic {
    padding: 10px;
    margin-top: 20px;
    border-right: 2px solid @color-border;

    @media(max-width: @screen-xs-max) {
      text-align: center;
    }
  }

  // Bio
  &__shortbio {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.7rem;
    line-height: 3rem;
    color: fade(@color-black, 80%);
    white-space: pre-line;
  }

  // Skill
  &__skill { margin-bottom: 20px; }
}

// Profile portfolio designer
.ll-portfolio-designer {
  .padding-tb(20px);

  &__wrapper {
    border: 2px solid @color-border;
  }

  &__bottom-wrapper {
    padding: 10px;
    a {
      &:hover {
        text-decoration: none;
      }
    }
    p {
      color: #000;
    }
    span {
      // width: 80%;
    }

    i {
      // width: 20%;
    }
  }
  // background-color: @color-section;
  // border-top: 1px solid @color-border;
}

.ll-review-designer {
  blockquote {
    border: none;
    font-family:  Georgia, "Times New Roman", Times, serif;
    margin-bottom:-30px;
    quotes: "\201C""\201D""\2018""\2019";
    font-style: italic;
  }

  blockquote h3 {
    font-size: 21px;
    line-height: 3rem;
    padding-left: 60px;
    position: relative;
    letter-spacing: 0.5px;
    @media(max-width: @screen-xs-max) {
      padding-left: 0;
      margin-top: 0;
    }
  }

  blockquote h3:before {
    content: open-quote;
    font-weight: bold;
    font-size: 7.5rem;
    color: #c73130;
    position: absolute;
    margin-right: 30px;
    padding-right: 30px;
    top: 0;
    left: 0;

    @media(max-width: @screen-xs-max) {
      font-size: 3rem;
      left: -15%;
    }
  }
  blockquote h3:after {
    visibility: hidden;
    content: close-quote;
    font-weight: bold;
    color: @color-reds;
    font-size: 10px;
  }
  blockquote cite {
    color: @color-reds;
    font-size: 2rem;
    display: block;
    margin-top: 15px;
    padding-left: 60px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 50px;

    @media(max-width: @screen-xs-max) {
      padding-left: 0;
    }
  }

  blockquote cite:before {
    content: "\2014 \2009";
  }

  &__rating {
    // color: #f5a625;
    cursor: default;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;

    &--empty-stars {
      -webkit-text-stroke: 0;
      text-shadow: none;
      color: #f5a625;
      font-size: 3rem;
    }
    &--filled-stars {
      -webkit-text-stroke: 0;
      text-shadow: none;
      position: absolute;
      font-size: 3rem;
      left: 0;
      top: 0;
      margin: auto;
      color: #fde16d;
      white-space: nowrap;
      overflow: hidden;
      color: #f5a625;
    }
    &--star {
      display: inline-block;
      margin: 0 3px;
      text-align: center;
    }
    &--fail {
      color: #ddd;
    }

    &--desc {
      color: #999999;
      font-weight: 600;
    }
  }
}

// for ALL Portfolio contest holder wrapper
[class*="fl-portfolio-ch__wrapper"] {
  margin-top: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: @color-white;

  @media (max-width: @screen-md) {
    padding: 30px;
  }
}

// Portfolio contest holder
.ll-portfolio-ch {
  .padding-tb(50px);
  background-color: @color-section;
  border-top: 1px solid @color-border;

  // Portfolio ch wrapper
  &__wrapper {
    // Portfolio ch wrapper modifier
    // Portfolio ch wrapper opeen
    &--open { border-left: 5px solid @brand-success; }

    // Portfolio ch wrapper winner pending
    &--winner_pending { border-left: 5px solid @brand-warning; }

    // Portfolio ch wrapper file transfer
    &--file_transfer { border-left: 5px solid @brand-info; }

    // Portfolio ch wrapper no winner
    &--no_winner { border-left: 5px solid @brand-info; }

    // Portfolio ch wrapper not active
    &--not_active { border-left: 5px solid @brand-danger; }

    // Portfolio ch wrapper refund
    &--refund { border-left: 5px solid @brand-danger; }

    // Portfolio ch wrapper closed
    &--closed { border-left: 5px solid @brand-danger; }

    &--draft { border-left: 5px solid @color-border; }
  }
}
/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

body {
  background: #f5f5f5;
}

/* Profile container F1F3FA*/
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
  padding: 20px;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}
/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.fc-navbar {
  margin-bottom: 0;

  // Logo reds on navbar
  &__brand { padding-top: 7px; }
  
  // christmast edition 
  &__christmast {
    background-color: #c73130;
    height: 50px;
    // color: #fff;
  }

  &__christmast-logo {
    img {
      width: 100px;
      margin-top: -22px;
    }
  }
  // Tweak heigh navbar
  &__dropdown {
    
    &-profile {
      height: 80px;
    }

    &-notification {
      height: 80px;

      .reason {
        width: 80%;
      }

      .approve-btn {
        float: right;
        color: #28cb75;
        font-size: 1.3rem;
        background-color: #fff;
        margin-top: -5%;

        &:hover {
          background-color: #28cb75;
          color: #fff;
        }
      }

      i.fa + .badge {
        position: absolute;
        top: 17%;
        right: 10%;
        font-size: 1rem;
      }

      .badge-notification {
        background-color: #fff;
        color: #c73130;
      }

      .notification-list {
        width: 450px;
        padding: 15px;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 500px;
      }

      .title-notification a {
        font-size: 1.4rem;
        color: fade(@color-reds, 70%);
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 1px solid @color-reds;

        &:hover {
          background-color: #fff;
        }
      }

      .loading-notif {
        margin-top: 20px;
        text-align: center;

        .fa { color: @color-reds; }

        p {
          font-size: 1.4rem;
          line-height: 3rem;
          color: fade(#000, 70%);
          text-align: center;
          .padding-tb(15px);
          border-bottom: 1px solid @color-border;
        }
      }

      .content-notification {
        padding: 15px;

        .avatar-notification {
          float: left;
          img {
            position: absolute;
            vertical-align: middle;
            border-radius: 50%;
          }
        }

        .desc-notification {
          padding-left: 50px;
          border-bottom: 1px solid @color-border;
          .date-notification{
            font-size: 1.2rem;
            line-height: 2rem;
            color: #aeaeae;
          }
        }
      }
    }
  }
}